.down-arrow{
    font-size: 40px !important;
    fill: #fff !important; 
    animation: animateDown 1.5s ease-in-out infinite;
    margin-bottom: 10px !important;
    cursor: pointer;
}

@keyframes animateDown{
    0%,20%,50%,60%,100%{
        transform: translateY(0%);
    }
    40%{
        transform: translateY(5px);
    }
    70%{
        transform: translateY(3px);
    }
}